<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            padding: 20px;
            border: 1px solid #ccc;
        }

        .code {
            color: #4CAF50;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Recover Password</h1>
        <p>You recover code</p>
        <p class="code"><strong th:text="${code}">Code</strong></p>
        <p>Use this code to recover your password.</p>
        <p>If you did not request this, please ignore this email.</p>
        <p>Thank you!</p>
    </div>
</body>

</html>